@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
/* font-family: 'Play', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* font-family: 'Noto Sans KR', sans-serif; */
.number{
  font-family: 'Play', sans-serif;
  font-size: 2.5rem;
}

body{
  margin: 0; 
  font-family: 'Noto Sans KR', sans-serif;
}
.container{min-width: 1200px;}
article menu{
  width: calc(100% - 60px);
  min-width: 1140px;
  padding: 20px 30px 20px 30px;
  margin: 0 ;
  display: flex;
  background-color: #33333331;
  border-bottom: 1px solid white;
  position: fixed;
  top: 0;
}
article menu .main-logo{
  padding-top: 10px;
  height: 3vh;
  vertical-align: middle;
}
article menu ul{
  list-style: none;
  margin: 10px 7vw; padding: 0;
  width: 40vw; height: 4vh;
  font-size: 1.1rem;
  display: flex;
}
article menu ul li{
  padding-left: 1vw;
  width: 10vw; height: 4vh;
  text-align: center;
}
article menu ul a{
  color: white;
  text-decoration: none;
  display:blcok;
}
article menu .shipping{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8vw; min-width: 120px;
  height: 2vh;
  padding: 3px; margin: 10px 0 0 0;
  background-color: orange;
  border-radius: 20px;
}
article menu .barOption{
  display: flex;
  align-items: center;
  margin-top: 6px;
  position: absolute;
  right: 1%;
  
}
article menu .shipping img{
height: 70%;  
}
article menu .shipping p{
  font-size: .8rem;
  color: white;
  margin-left: 5px;

}
article menu .option{
  font-size: .8rem;
  margin: 5px 0 0 10px;
  height: 4vh;
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  /* position: absolute;
  right: 2%; */
}
article menu .option p{
  margin: 0;
  min-width: 150px;
}
article menu .option .family {
  min-width: 100px;
}
article menu .option .family img{
  width: 15%;
  vertical-align: middle;
}
article menu .option .kor{
  display: inline-flex;
  min-width: 75px;
}
article menu .option .kor img{
  width: 15%;
  vertical-align: middle;
}


article main video{
  width: 100%;
  min-width: 1200px;
}
article main h3{
  display: flex;
  position: absolute;
  top: 26.5%; left: 13.5%;
  font-weight: 300;
  font-size: 2rem;
  color: white;
}
article main h1{
  display: flex;
  position: absolute;
  top: 30%; left: 12%;
  font-size: 3rem;
  color: white;
}
article main h5{
  display: flex;
  position: absolute;
  top: 42%; left: 14%;
  font-weight: 300;
  font-size: .5rem;
  color: white;
}
article .icon{
  display: flex;
}
article .icon1{
  background-color: #3333338e;
  width: 100px; height: 100px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 28%; right: 2%;
  transition: .2s;
}
article .icon1:hover{
  background-color: rgb(159, 187, 207);
}
article .icon1 img{
  margin-top: 20px;
  width: 30%;
}
article .icon1 P{
  font-size: .8rem;
  margin: 0;
  color: white;
}
article .icon2{
  background-color: #3333338e;
  width: 100px; height: 100px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  top: 40%; right: 2%;
  transition: .2s;
}
article .icon2:hover{
  background-color: rgb(159, 187, 207);
}
article .icon2 img{
  margin-top: 20px;
  width: 30%;
}
article .icon2 P{
  font-size: .8rem;
  margin: 0;
  color: white;
}
article main .diag1{
  position: absolute;
  top: 0; left: -3%;
  width: 8%; height: 20%;
  /* z-index: -.5; */
}
article main .diag2{
  position: absolute;
  top: 5%; left: 0%;
  width: 13%;
  /* z-index: -.5; */
}
article main .diag3{
  position: absolute;
  top: 23%; left: -3%;
  width: 13%;
  /* z-index: -.5; */
}

main .tittle1 {
  width: 100%;
  
  /* margin: 0 auto; */
}
main .tittle1 .deg45{
  background-color: orange;
  width: 4px; height: 20px;
  margin: 70px auto 0;
  transform: skewX(-25deg);
}
main .tittle1 .txt{
  text-align: center;
  margin-bottom: 100px;
}
main .tittle1 .txt p{
  color: #686868;
}
main .tittle1 .fourth{
  width: 80%;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  margin: 0 auto;
  min-width: 1200px;
}
main .tittle1 .fourth .fristIcon{
  border-right: 1px solid #333;
  text-align: center;
  width: 25%;
}
main .tittle1 .fourth .number{
  font-family: 'Play', sans-serif;
  font-weight: bold;
}
.color-blue{
  color: rgb(60, 88, 141);
  font-weight: bold;
  margin: 0;
}
main .tittle1 .fourth .secondIcon{
  border-right: 1px solid #333;
  text-align: center;
  width: 25%;
}
main .tittle1 .fourth .thirdIcon{
  border-right: 1px solid #333;
  text-align: center;
  width: 25%;
}
main .tittle1 .fourth .fourIcon{
  text-align: center;
  width: 25%;
}

main .tittle2 {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
main .tittle2 .deg45{
  background-color: orange;
  width: 4px; height: 20px;
  margin: 70px auto 0;
  transform: skewX(-25deg);
}
main .tittle2 .txt{
  text-align: center;
}
main .tittle2 .txt p{
    padding-bottom: 30px;
}
main .tittle2 ul{
  min-width: 600px;
  list-style: none;
  margin: 0 auto;
  padding: 35px 10vw 0 10vw;
  display: flex;
  justify-content: space-between;
}
main .tittle2 ul li{
  padding: 10px 0 0;
}
main .tittle2 ul li:nth-child(1){
  color: orange;
  border-top: orange solid 3px;
}
main .tittle2 .gray-box{
  width: 55%; height: 450px;
  min-width: 650px;
  background-color: #eeeeee;
  text-align: center;
  font-size: .9rem;
}
main .tittle2 .gray-box h3{
  margin: 30px 0;
  font-size: 1.6rem;
  font-weight: 400;
}
main .tittle2 .gray-box .img3{
  padding-bottom: 20px;
}
main .tittle2 .gray-box .img3 img{
  margin: 20px 5px;
}
main .tittle2 .cargo img{
  width: 40%;
  height: 450px;
  min-width: 790px;
  position: absolute;
  bottom: -7%;
  right: 0;
}
main .tittle2 a{
  text-decoration: none;
  color: white;
  background-color: orange;
  padding: 10px 30px;
  position: absolute;
  bottom: 32%;
  left: 47%;
  transition: .2s;
}
main .tittle2 a:hover{
  border-radius: 20px;
}

main .tittle3{
    width: 100%;
  margin: 0 auto;
  background-image: url(./img/bg_worldmap.png);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: 50% 140%;
}
main .tittle3 .deg45{
    background-color: orange;
    width: 4px; height: 20px;
    margin: 150px auto 0;
    transform: skewX(-25deg);
}
main .tittle3 .txt{
    text-align: center;
    margin-bottom: 40px;
}
main .tittle3 .map{
    text-align: center;
    /* background-image: url(./img/bg_worldmap.png);
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: 50% -10%; */
}
main .tittle3 .map ul{
    width: 45%;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    
}
main .tittle3 .map ul li{
 font-size: 1.1rem;
 font-weight: bold;
}
main .tittle3 .map ul li:nth-child(1){
  color: orange;
}
main .tittle3 .map img{
    width: 100%;
    margin: 50px 0 30px 0;
}
main .tittle3 .map a{
    text-decoration: none;
    color: white;
    background-color: orange;
    display: block;
    width: 145px; height: 43px;
    line-height: 43px;
    margin: 0 auto 50px;
    transition: .2s;
}
main .tittle3 .map a:hover{
  border-radius: 20px;
}

main .tittle4{
    width: 100%;
  margin: 0 auto;
  
}
main .tittle4 .deg45{
    background-color: orange;
    width: 4px; height: 20px;
    margin: 100px auto 0;
    transform: skewX(-25deg);
}
main .tittle4 .txt{
    text-align: center;
    margin-bottom: 60px;
}
main .tittle4 .box3{
  display: flex;
    justify-content: space-between;
}
main .tittle4 .more{
    background-image: url(./img/1.png);
    width: 30%;
    margin-left: 120px;
}
main .tittle4 .more .bodo{
    background-color: orange;
    color: white;
    width: 110px; height: 38px;
    line-height: 38px;
    text-align: center;
    margin: 0;
}
main .tittle4 .more .txt{
  margin: 0;
}
main .tittle4 .more .txt .back{
    background-color: #3333337c;
    color: white;
    width: 100%;
    margin: 0;
    padding: 80px 0 80px 0;
    font-size: 1.7rem;
    font-weight: bold;
}
main .tittle4 .more .txt .back .number{
  font-size: .9rem;
}
main .tittle4 .more .txt .back .white-box{
  font-size: 1rem;
  border: white solid 1px;
  padding: 7px 30px;
}
main .tittle4 .Notice{
  /* border: #333 solid 1px; */
  display: flex;
  width: 34%;
  flex-wrap: wrap;
  align-content: flex-start;
}
main .tittle4 .Notice .tittle{
  display: flex;
  align-items: center;
  height: 50px;
}
main .tittle4 .Notice .tittle p{
  width: 100px; height: 30px;
  line-height: 30px;
  border: #333 1px solid;
  text-align: center;
  padding: 7px 10px;
  margin-left: 290px;
}
main .tittle4 .Notice ul{
  padding: 0 10px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
main .tittle4 .Notice li{
  padding-bottom: 20px;
  font-size: 1rem;
  display: flex;
}
main .tittle4 .Notice li .clock{
  opacity: 60%;
  float: right;
  font-size: 1.1rem;
}
main .tittle4 .Notice li a{
  text-decoration: none;
  color: #333333e1;
  border-bottom: #3333338e solid 1px;
  
}
main .tittle4 .Notice li img{
  width: 3%;
}
main .tittle4 .recruit{
  background-image: url(./img/bg_main_recruit.png);
  width: 300px; height: 410px;
  margin-right: 120px;
}
main .tittle4 .recruit h2{
  color: orange;
  margin: 10px 0 0 20px;
}
main .tittle4 .recruit p{
  margin: 5px 0 0 20px;
}
main .tittle4 .recruit p:nth-of-type(2){
  background-color: orange;
  color: white;
  width: 130px; height: 40px;
  text-align: center;
  line-height: 40px;
  margin: 250px auto 0;
}

footer{
  margin-top: 150px;
  background-color: #333;
}
footer .logo{
  background-color: #ddd;
  display: flex;
  padding: 20px 150px;
  justify-content: space-between;
  align-items: center;
}
footer .logo img{
  height: 90%;
  display: flex;
}
footer .blackbar img{
  display: flex;
}
footer .blackbar{
  padding: 35px 150px;
}
footer .blackbar .a{
  display: flex;
}
footer .blackbar .a a{
  text-decoration: none;
  color: white;
  opacity: 50%;
  padding: 10px;
  font-size: .8rem;
}
footer .blackbar p:nth-of-type(1){
  margin: 40px 0 0;
  color: white;
  opacity: 50%;
  font-size: .6rem;
}
footer .blackbar p:nth-of-type(2){
  margin: 0;
  color: white;
  opacity: 50%;
  font-size: .6rem;
}
footer .blackbar p:nth-of-type(3){
  margin-top: 20px;
  color: white;
  opacity: 50%;
  font-size: .6rem;
}