@charset "utf-8";

body{
    background-image: url(./wood.jpeg);
    background-size: cover;
    background-position: center;
}

.container{
    background-color: #f8efef;
    border: 3px pink solid;
    border-radius: 20px;
    width: 1000px;
    height: 850px;
    margin: 50px auto 0;
}

.container .logobar{
    height: 130px;
    background-color: #f8efef;
    border-radius: 16px 16px 0 0;
    background-image: url(./dog.png);
    background-repeat: no-repeat;
    background-size: 10%;
    background-position: 50px;
}

.container .logobar h1{
    padding: 15px 0 0 200px;
    margin: 0;
}

.container .menu{
    background-color: pink;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
}

.container .menu li a{
    width: 20%;
    float: left;
    background-color: pink;
    color: #f8efef;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.menu li a:hover{
    background-color: white;
    color: pink;
}

.container .box1{
    border: pink solid 2px;
    background-color: white;
    width: 250px;
    height: 280px;
    margin: 30px 0 0 50px;
    float: left;
}

.container .box1 img{
    margin: 8px 13px;
    width: 90%;
}

.container .box1 figcaption{
    padding: 0 20px 0 0;
    float: right;
}

.container .tittle1{
    font-size: 18px;
    margin: 30px 0 30px 40px;
    float: left;
    margin-right: 155px;
}

.container .box2{
    border: 2px pink solid;
    background-color: white;
    width: 250px;
    height: 280px;
    clear: both;
    float: left;
    margin: 30px 0 15px 50px;
}

.container .box2 img{
    margin: 8px 15px;
    width: 88%;
}

.container .box2 figcaption{
    float: right;
    padding: 0 20px 0 0;
}

.container .tittle2{
    font-size: 18px;
    float: left;
    margin: 30px 0 30px 40px;
}

.sidebar .side{
    border-left: pink dashed 4px;
    float: right;
}

.sidebar .side ul{
    list-style: none;
    padding: 0;
    font-weight: bold;
    font-size: 25px;
}

.sidebar .side li{
    padding: 30px 110px 20px 30px;
    border-bottom:  pink dashed 4px;
    font-size: 20px;
}

.sidebar .side h2{
    margin-top: 50px;
    padding-left: 50px;
}
.sidebar .side p{
    padding: 10px 0 10px 30px;
    margin: 0;
}

.sidebar .side li a{
    text-decoration: none;
    color: black;
}

.sidebar .side li:hover{
    background-color: pink;
}

.sidebar{
    float: left;
}


footer {
    clear: both;
    background-color: pink;
    border-radius: 0 0 20px 20px;
    height: 40px;
    line-height: 40px;
    padding: 0 30px;
}

footer p{
    margin: 0;
}

main{
    float: left;
}

.clearfixe::after{
    content: '';
    display: block;
    clear: both;
}
